* {
  text-align: center;
  color: white;
}

body {
  background-image: url("BR.jpg");
}

h1,h2,h3,h4,h5,h6,h7 {
  font-family: verdana;

}
img {
  border-radius: 50%;
}

img {
  max-width: 100%;
  height: auto;
}

.p {
  font-family: "Times New Roman", Times, serif;
}